.loader-container {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 75vh;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader-container.active {
    display: flex; /* Cambia a flex para mostrar */
}


.spinner-gif {
    width: 200px; /* Larger, more visible */
    height: auto;
}